.android/
        .bash_history
        .eclipse/
        .gitconfig
        .gradle/
        .m2/
        .openjfx/
        .p2/
        .vscode/
        3D Objects/
        AppData/
        Contacts/
        CrossDevice/
        Desktop/
        Documents/
        Downloads/
        Favorites/
        IdeaProjects/
        Links/
        Music/
        NTUSER.DAT
        NTUSER.DAT{25668921-17f8-11f0-9cee-00e04c239987}.TM.blf
        NTUSER.DAT{25668921-17f8-11f0-9cee-00e04c239987}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{25668921-17f8-11f0-9cee-00e04c239987}.TMContainer00000000000000000002.regtrans-ms
        OneDrive/
        Pictures/
        README.md
        Saved Games/
        Searches/
        Tracing/
        Videos/
        eclipse/
        nowywww/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
